* {
 padding: 0;
 margin: 0;
 font-family: Roboto;
}

.head {
 background: linear-gradient(
  180deg,
  rgba(227, 235, 255, 1) 0%,
  rgba(255, 255, 255, 1) 100%
 );
}

nav {
 display: flex;
 justify-content: space-between;
 .links {
  ul {
   list-style-type: none;
   display: flex;

   li {
    margin-left: 50px;
    &:hover ul {
     display: block;
     position: absolute;
    }
    &:hover {
     color: red;
    }
   }
   ul {
    display: none;
    li {
     font-size: 0.9rem;
     padding-top: 15px;
     margin: 0;
    }
   }
  }
 }
}

button {
 padding: 10px;
 margin: 5px;
 border: none;
 border-radius: 5px;
 color: white;
 background-color: chocolate;
}

hero {
 display: grid;
 padding: 10%;
 grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
 img {
  width: 40%;
 }
 .graphic {
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
 }
}

.typed-cursor {
 color: blue;
}
