* {
  padding: 0;
  margin: 0;
  font-family: Assistant;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 14px;
}

.title {
  text-align: center;
  margin-bottom: 45px;
  color: #6c64ac;
}

.title p {
  color: #8d7da0;
}

#nav-icon {
  display: none;
}

#nav-icon {
  width: 35px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #6c64ac;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
  top: 10px;
}

#nav-icon span:nth-child(4) {
  top: 20px;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.mobile-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 999;
}

.mobile-panel ul {
  text-align: center;
}

.mobile-panel ul a {
  text-decoration: none;
}

.mobile-panel ul li {
  list-style-type: none;
  font-size: 1.6em;
  padding: 5px;
  font-weight: 700;
}

.mobile-panel ul li ul li {
  font-weight: 400;
  font-size: 1em !important;
}

.header {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.945);
  top: 0;
  width: 100%;
  z-index: 999;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2% 10%;
  font-size: 1.2em;
}

.header .nav .links {
  color: #6c64ac;
}

.header .nav .links a {
  position: relative;
  text-decoration: none;
  padding: 10px 0;
  color: #6c64ac;
}

.header .nav .links a:hover {
  color: #8d7da0;
}

.header .nav .links a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #8d7da0;
  height: 3px;
}

.header .nav .links a:hover:after {
  width: 100%;
}

.header .nav .links ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .nav .links ul li {
  padding: 10px 20px 10px 0;
  font-weight: 700;
}

.header .nav .links ul li:hover ul {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: block;
}

.header .nav .links ul li ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  margin-top: 5px;
  padding: 0 15px 10px;
  background-color: #f1f6fe;
  -webkit-box-shadow: 3px 3px 9px -3px rgba(0, 0, 0, 0.22);
  box-shadow: 3px 3px 9px -3px rgba(0, 0, 0, 0.22);
  border-radius: 0 0 5px 5px;
}

.header .nav .links ul li ul li {
  font-weight: 400;
}

hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 10% 10% 2%;
  height: 85vh;
}

hero .graphic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

hero .graphic img {
  width: 100%;
  height: auto;
}

hero .graphic .gif {
  position: relative;
}

hero .graphic .static {
  position: absolute;
  width: 20%;
}

hero .title-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.4em;
  line-height: 1;
  color: #6c64ac;
}

hero .title-hero p {
  color: #8d7da0;
  font-size: 0.9em;
  font-weight: 300;
  margin: 15px 0 15px 0;
  line-height: 1.3;
}

hero .title-hero .btns button {
  padding: 15px;
  margin: 3px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #6c64ac;
}

hero .title-hero .btns .outlinedBtn {
  padding: 15px;
  margin: 3px;
  border: 1px solid #6c64ac;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  color: #6c64ac;
}

.typed-cursor {
  color: #6c64ac;
}

intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 3px solid #efeffc;
  padding: 5% 10%;
  background-color: #f1f6fe;
}

intro .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 15px;
  line-height: 1.5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #8d7da0;
}

intro .text h1 {
  padding-bottom: 10px;
  color: #6c64ac;
}

intro .fraktal {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

intro .fraktal .animaImgTop {
  position: relative;
}

intro .fraktal .animaImgTop img {
  position: absolute;
  top: -40%;
  left: 20%;
  width: 60%;
}

benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 3px solid #efeffc;
  padding: 5% 10%;
  background-image: url("../assets/logoBack.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
}

benefits .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

benefits .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px;
  margin: 10px;
  -webkit-box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.11);
  box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.11);
  border-radius: 7px;
  background-color: #fff;
  width: 400px;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

benefits .cards .card:hover {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.19);
}

benefits .cards .card img {
  width: 100%;
  height: auto;
}

benefits .cards .card .content h3 {
  padding-bottom: 10px;
  color: #6c64ac;
}

benefits .cards .card .content p {
  color: #8d7da0;
}

partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 3px solid #efeffc;
  padding: 5% 10%;
  background-color: #f1f6fe;
}

partners img {
  width: 70%;
  height: auto;
}

partners .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

partners .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px;
  margin: 10px;
  -webkit-box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.11);
  box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.11);
  border-radius: 7px;
  background-color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 350px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

partners .cards .card:hover {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.19);
}

partners .cards .card h3 {
  color: #6c64ac;
  padding-top: 10px;
}

partners .cards .card p {
  color: #8d7da0;
}

process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 3px solid #efeffc;
  padding: 5% 10%;
}

process img {
  width: 100%;
  height: auto;
}

process .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

process .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px;
  margin: 10px;
  -webkit-box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.11);
  box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.11);
  border-radius: 7px;
  background-color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 230px;
  text-align: center;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

process .cards .card:hover {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.19);
}

process .cards .card .content h3 {
  color: #6c64ac;
  padding-bottom: 10px;
}

process .cards .card .content p {
  color: #8d7da0;
}

contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 3px solid #efeffc;
  padding: 5% 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #6c64ac;
}

contact .title {
  color: white !important;
}

contact .contact-form {
  width: 100%;
}

contact .contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

contact .contact-form input {
  padding-left: 15px;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
  width: 300px;
}

contact .contact-form button {
  padding: 15px;
  margin: 3px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #192057;
  margin: 0;
}

contact .social ul {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

contact .social ul li {
  padding: 10px;
  -webkit-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
}

contact .social ul li:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5% 15%;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #192057;
}

footer .cta .company-intro {
  margin: 15px 0;
  line-height: 1.5;
}

footer .cta button {
  padding: 15px;
  margin: 3px;
  border: 1px solid #6c64ac;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

footer .links h4 {
  color: #6c64ac;
}

footer .links ul {
  list-style: none;
}

footer .links ul li {
  padding: 5px 0;
}

footer .links ul li a {
  color: white;
  text-decoration: none;
}

footer .links ul li a:hover {
  color: #8d7da0;
}

.copyright {
  width: 100%;
  padding: 10px;
  text-align: center;
  color: white;
  background-color: black;
}

.lock-scroll {
  overflow-y: hidden;
}

@media only screen and (max-width: 768px) {
  .nav .links ul {
    display: none !important;
  }
  .nav {
    padding: 5% !important;
  }
  #nav-icon {
    display: block;
  }
  .title-hero {
    text-align: center;
  }
  hero {
    padding-top: 25%;
  }
  hero .title {
    font-size: 1.5em;
  }
  hero .btns {
    margin-bottom: 15px;
  }
  hero .graphic .static {
    width: 40%;
  }
  .nav .links ul {
    display: none !important;
  }
  .nav {
    padding: 5% !important;
  }
  #nav-icon {
    display: block;
  }
  .title-hero {
    text-align: center;
  }
  intro {
    text-align: center;
  }
  footer {
    text-align: center;
  }
  footer .cta button {
    margin-bottom: 15px;
  }
}

@media (max-width: 575.98px) {
  .nav .links ul {
    display: none !important;
  }
  .nav {
    padding: 5% !important;
  }
  #nav-icon {
    display: block;
  }
  .title-hero {
    text-align: center;
  }
  hero {
    padding-top: 25%;
  }
  hero .title {
    font-size: 1.5em;
  }
  hero .btns {
    margin-bottom: 15px;
  }
  hero .graphic .static {
    width: 40%;
  }
  .nav .links ul {
    display: none !important;
  }
  .nav {
    padding: 5% !important;
  }
  #nav-icon {
    display: block;
  }
  .title-hero {
    text-align: center;
  }
  intro {
    padding: 45% 0;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  footer .cta button {
    margin-bottom: 15px;
  }
}

@media (max-width: 699px) {
  .nav .links ul {
    display: none !important;
  }
  .nav {
    padding: 5% !important;
  }
  #nav-icon {
    display: block;
  }
  .title-hero {
    text-align: center;
  }
  hero {
    padding-top: 25%;
  }
  hero .title {
    font-size: 1.5em;
  }
  hero .btns {
    margin-bottom: 15px;
  }
  hero .graphic .static {
    width: 40%;
  }
  .nav .links ul {
    display: none !important;
  }
  .nav {
    padding: 5% !important;
  }
  #nav-icon {
    display: block;
  }
  .title-hero {
    text-align: center;
  }
  intro {
    padding: 45% 0;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  footer .cta button {
    margin-bottom: 15px;
  }
}
/*# sourceMappingURL=style.css.map */